* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

.hr{
    height: 1px; 
    background-color: rgb(90, 16, 141);
}

.wrap { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  

/*NAVBAR - START*/
.navbar-cont{
    display: flex;
    position: sticky;
    height: 50px;
    width: 100%;
    top: 0;
    align-items: center;
    background-color: rgb(255, 255, 247);
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}

.navbar-left-cont{
    display: flex;
    width: 33.3%;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.small-navbar-left-cont{
    display: none;
    width: 10%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.navbar-center-cont{
    display: flex;
    width: 33.3%;
}

.navbar-center-logo{
    margin: auto;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-right-cont{
    display: flex;
    width: 33.3%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-links{
    cursor: pointer;
    font-size: 18px;
}

.navbar-icon{
    font-size: 28px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .navbar-left-cont{
        display: none;
    }

    .small-navbar-left-cont{
        display: flex;
    }

    .navbar-center-cont{
        width: 45%;
    }

    .navbar-right-cont{
        width: 45%;
    }

    .la-heart-cont{
        display: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    .navbar-left-cont{
        display: none;
    }

    .small-navbar-left-cont{
        display: flex;
    }

    .navbar-center-cont{
        width: 45%;
    }

    .navbar-right-cont{
        width: 45%;
    }

    .la-heart-cont{
        display: none;
    }
  }

  @media only screen and (max-width: 702px) {
    .navbar-center-logo{
        font-size: 1.6rem;
    }    
  }

  @media only screen and (max-width: 510px) {
    .navbar-center-logo{
        font-size: 1rem;
    }

    .navbar-icon{
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-center-logo{
        font-size: 0.8rem;
    }
}
/*NAVBAR - END*/

/*HERO SECTION - START*/

.new-stock-label{
    display: flex;
    width: 99%;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 3rem;
    background-color: rgb(255, 255, 253);
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}
  

.hero-section-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 99%;
    margin: auto;
}

.hero-section{
    display: flex;
    justify-content: center;
    width: 25%;
}
  
.hero-section-banner{
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 25%;
   margin: 1%; 
}

.hero-section img{
    display: flex;
    height: auto;
    max-height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 1250px) {
    .hero-section{
      width: 45%; 
    }
  }


@media only screen and (max-width: 600px) {
    .hero-section{
      width: 60%; 
    }
  }

@media only screen and (max-width: 600px) {
    .new-stock-label{
      font-size: 2rem; 
      height: 100px;
    }
  }

  @media only screen and (max-width: 360px) {
    .new-stock-label{
        font-size: 1.5rem;
    }
}
/*HERO SECTION - END*/

/*CARDS SECTION - START*/

.content-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 99%;
    height: 150px;
    align-items: center;
}

.content-label p{
    font-size: 3rem;
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}

.content-cont{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.card-outside-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}

.card-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    min-width: 26%;
    margin: 1%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(90, 16, 141);
    transition: all 0.5s ease;
}

.card-cont img{
    display: flex;
    height: auto;
    max-height: 480px;
    width: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-title{
    display: flex;
    width: 100%;
    justify-content: left;
    font-family: 'Inika', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
    /*color: rgb(213,202,170);*/
    color: black;
}

.card-price{
    display: flex;
    width: 100%;
    font-family: 'Inika', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    justify-content: left;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 10px;
    color: rgb(90, 16, 141);
}

.card-color{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
}

.card-color-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.color-option{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid gray;
}

.favorite-icon{
    display: flex;
    width: 50%;
    padding-right: 10px;
    font-size: 22px;
    justify-content: right;
    align-items: right;
}

@media only screen and (max-width: 600px) {
    .content-label p{
        font-size: 2rem;
    }
  }

  @media only screen and (max-width: 360px) {
    .content-label p{
        font-size: 1.5rem;
    }
}

/*CARDS SECTION - END*/

/*FOOTER - START*/

.footer-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.footer{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.footer-icon{
    font-size: 26px;
    color: rgb(213,202,170);
}
/*FOOTER - END*/

/*CONTACT US - START*/

.contact-us-cont{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 465px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*CONTACT US - END*/

/*SIDE MENU - START*/

.side-menu-cont{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 20%;
    height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    font-family: 'Inika', sans-serif;
}

.side-menu-first-row{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.side-menu-first-row i{
    font-size: 1.75rem;
    color: rgb(213,202,170);
}

.side-menu-links-cont{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: rgb(213,202,170);
}

.side-menu-links{
    padding: 13px;
}


/*SIDE MENU - END*/

.coming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 800px;
    font-family: 'Inika', sans-serif;
    font-size: 2rem;
}