* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

.hr{
    height: 1px; 
    background-color: rgb(90, 16, 141);
}

.wrap { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }  

/*NAVBAR - START*/
.navbar-cont{
    display: flex;
    position: sticky;
    height: 2.5vw;
    width: 100%;
    top: 0;
    align-items: center;
    background-color: rgb(255, 255, 247);
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}

.navbar-left-cont{
    display: flex;
    width: 33.3%;
    height: auto;
    align-items: center;
    justify-content: space-around;
}

.navbar-center-cont{
    display: flex;
    width: 33.3%;
}

.navbar-center-logo{
    margin: auto;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar-right-cont{
    display: flex;
    width: 33.3%;
    justify-content: space-around;
    align-items: center;
}

.navbar-links{
    cursor: pointer;
    font-size: 18px;
}

.navbar-icon{
    font-size: 28px;
    cursor: pointer;
}

/*NAVBAR - END*/

/*HERO SECTION - START*/

.new-stock-label{
    display: flex;
    width: 99%;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 3rem;
    background-color: rgb(255, 255, 253);
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}

@media only screen and (max-width: 600px) {
    .new-stock-label{
      font-size: 2rem; 
      height: 100px;
    }
  }
  

.hero-section-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    max-width: 99%;
    margin: auto;
}

.hero-section{
    display: flex;
    justify-content: center;
    /*flex: 1 1 auto;*/
    width: 25%;
}

@media only screen and (max-width: 1250px) {
    .hero-section{
      width: 45%; 
    }
  }


@media only screen and (max-width: 600px) {
    .hero-section{
      width: 60%; 
    }
  }
  

.hero-section-banner{
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 25%;
   margin: 1%; 
}

.hero-section img{
    display: flex;
    height: auto;
    max-height: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*HERO SECTION - END*/

/*CARDS SECTION - START*/

.content-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 99%;
    height: 150px;
    align-items: center;
}

.content-label p{
    font-size: 3rem;
    color: rgb(213,202,170);
    font-family: 'Inika', sans-serif;
}

.content-cont{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.card-outside-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1%;
}

.card-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    min-width: 26%;
    margin: 1%;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(90, 16, 141);
    transition: all 0.5s ease;
}

.card-cont img{
    display: flex;
    height: auto;
    max-height: 480px;
    width: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-title{
    display: flex;
    width: 100%;
    justify-content: left;
    font-family: 'Inika', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
    /*color: rgb(213,202,170);*/
    color: black;
}

.card-price{
    display: flex;
    width: 100%;
    font-family: 'Inika', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    justify-content: left;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 10px;
    color: rgb(90, 16, 141);
}

.card-color{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
}

.card-color-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.color-option{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid gray;
}

.favorite-icon{
    display: flex;
    width: 50%;
    padding-right: 10px;
    font-size: 22px;
    justify-content: right;
    align-items: right;
}

/*CARDS SECTION - END*/

/*FOOTER - START*/

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.footer-icon{
    margin-left: 2%;
    font-size: 26px;
    color: rgb(213,202,170);
}
/*FOOTER - END*/
